{% extends "court/base.html" %}
{% block content %}
<div class="container">
    <div class="container-fluid ">
  <br>
    <div class="row ">
  
  
  <h1 style="background:  #3c7271;padding: 20px;">About</h1><br>
  
  <h3 style="background:  #3c7271;padding: 20px;">Problem Statement</h3>
  <p style="padding: 20px; font-size: medium;">With the covid-19 pandemic imposing several restrictions on all kinds of physical interactions and assemblies, the Indian judiciary too was affected, in order to prevent the court system from completely halting, the virtual E-courts system has been devised. The virtual  E-court system serves to digitise whatever aspects of the court system that are feasible to digitise and to also enhance accessibility and transparency of the information for its stakeholders.  The judiciary is considered the watchdog of democracy, and also the guardian of the Constitution and so, it is paramount that it never ceases to function and becomes as affordable, accessible, cost effective, predictable, reliable and transparent as possible and with our project, we plan to realize it on a realistic level.</p>
  <h3 style="background:  #3c7271;padding: 20px;">Functionalities of the website</h3>
  <div >
  
  
  <ul style="list-style-type: square; padding: 25px; font-size: medium;">
    <li style="opacity: 1;">Search case details using CNR number</li>
    <li>Fee calculator</li>
    <li>Filing a case (by lawyers)</li>
    <li>Case Status details</li>
    <li>Registration/Login for Judge and lawyer </li>
    <li>Judge and lawyer dashboard with details of current cases</li>
    <li>Upload verdict (for judge)</li>
    <li>List of all the past and pending cases of the advocate and judge will be displayed to them on theirs profile page which will be visible only when they're logged into their registered account.
  </li>
  </ul>
  </div>
  <h3 style="background:  #3c7271;padding: 20px;">Group No. 45 - Ecourts</h3>
  <h3 style="background:  #3c7271;padding: 20px;">Members:</h3><br>
  <table style="padding: 20px; width: 50%; background-color: #326463; color: white; font-size: larger;">
    <ul>
      <tr><th style="text-align: center;">Name</th><th style="text-align: center; padding: 10px;">Roll no: </th></tr>
      <tr><td style="text-align: center;">Mansi Tundele</td><td style="text-align: center;"> 201951091</td></tr>
      <tr>
      <td style="text-align: center;">Raghvi Saxena </td><td style="text-align: center;"> 201951119</td></tr>
      <tr><td style="text-align: center;">Jinal Patel </td><td style="text-align: center;"> 201951197</td></tr>
      <tr><td style="text-align: center;">Subhanjali Sharma </td><td style="text-align: center;"> 201952236</td></tr>
  
    </table>
  
  <br>
  
  
  
  </div></div></div>
{% endblock content %}
