{% extends "court/base2.html" %}
{% block content %}
    <div class="containercasefile casefilediv">
        <form id="casefile" action="" method="post">
            {% csrf_token%}
          <h2>File a case:</h2>
          <h4>Please provide the following details:</h4>
            <label for="name">Name of Petitioner</label>
            <fieldset style="color: black;">
                {{ form.name_of_applicant }}
            </fieldset>
            <label for="Address">Address of Petitioner</label>
            <fieldset style="color: black;">
                {{ form.address }}
            </fieldset>
            <label for="name">Name of Respondent</label>
            <fieldset style="color: black;">
                {{ form.name_of_respondent }}
            </fieldset>
            <label for="address">Address of Respondent</label>
            <fieldset style="color: black;">
                {{ form.address_of_respondent }}
            </fieldset>
            <label for="lawyer">Advocate of Respondent</label>
            <fieldset style="color: black;">
                {{ form.lawyer_of_respondent }}
            </fieldset>
            <label for="Subject">Subject</label>
            <fieldset style="color: black;">
                {{ form.subject }}
            </fieldset>
            <label for="phone_number">Phone No. </label>
            <fieldset style="color: black;">
                {{ form.phone_number }}
            </fieldset>
            <label for="CaseType">Case Type: </label>
            <div style="color: black;" >{{form.case_type}}</div>
            <label for="CaseType">Court Type: </label>
            <div style="color: black;">{{ form.court_type }}<br></div>
            <label for="district">District </label>
            <fieldset style="color: black;">
                {{ form.district }}
            </fieldset>
            <label for="state">State </label>
            <fieldset style="color: black;">
                {{ form.state }}
            </fieldset>
            <label for="myfile">Select files: </label>
            {{ form.docs }}<br>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
        
        </form>
      </div>
{% endblock content %}